body {
    overflow-x: hidden;
}

.pad20 {
    padding: 1rem 20vw!important;
}

footer {
    bottom: 0;
    min-width: 100vw;
}

.margin-b-2 {
    margin-bottom: 2rem;
}

.error {
    color: red;
}

.hidden {
    display: none!important;
}

#correct_code {
    padding: 1rem;
    min-width: 100%;
    display: none;
    background: #FAFAFA!important;
}

#incorrect_code {
    padding: 1rem;
    min-width: 100%;
    display: none;
    background: #FAFAFA!important;
}

#xmlTags {
    padding: 1rem;
    min-width: 100%;
    display: none;
    background: #FAFAFA!important;
    height: auto;
    font-size: 0.75rem;
}

#xmlTagsBtn, #correctCodeBtn, #incorrectCodeBtn {
    display: none;
}

#solutionButton {
    display: none;
}

.content {
    min-height: calc(100vh - 56px - 72px);
}

.pad1 {
    padding: 1rem;
}

.page-title {
    font-size: 1.75rem;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    margin-bottom: 2rem;
}

#projects {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid grey;
    margin: 0.125rem;
    line-height: 2.5rem;
}

.project-row:nth-child(odd) {
    background: #FBFBFB;
}

.project-row:nth-child(even) {
    background: #EFEFEF;
}

.cell {
    color: black;
    min-width: 30%;
    text-align: center;
}

#myProjects {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#myProjects hr {
    width: 80%;
    margin: 2rem auto;
}

#myProjects label {
    margin: 0 auto;
}

#myProjects div {
    margin-bottom: 1rem;
}

#sequenceModalContainer {
    max-width: 45vw;
}

.elementIdentifier {
    min-width: 10%;
    display: inline-block;
    margin: 0.25rem;
    font-weight: bold;
}

.elementDescription {
    min-width: 70%;
    margin: 0.25rem;
    display: inline-block;
}

.half-width {
    width: 50%!important;
}

.bgdrop {
    border-radius: 5px;
    padding: 0.25rem;
    margin: 0.25rem;
    background: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.bgdrop:hover {
    background: rgba(0, 0, 0, 0.05);
    text-decoration: none;
}

.home-content {
    padding-bottom: 2rem;
}

.home-content h2 {
    margin: 1rem;
    text-align: center;
}

.home-content p {
    margin: 2rem 0;
    text-align: justify;
    font-size: 1.15rem;
    line-height: 1.75rem;
}

.home-content img {
    box-shadow: 0 0 5px 2px #555;
}

.text-center img {
    box-shadow: 0 0 5px 2px #555;
    border-radius: 25%;
}

.text-center {
    text-align: center;
}

.contact {
    font-weight: bold;
    letter-spacing: 2px;
}

.other-content p {
    margin: 2rem 0;
    text-align: justify;
    font-size: 1.15rem;
    line-height: 1.75rem;
}

@media (max-width: 767px) {

    #correct_code {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    #incorrect_code {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    #sequenceModalContainer {
        max-width: 90vw;
    }

    .half-width {
        width: 100%!important;
    }
}

@media (max-width: 1400px) {
    #sequenceModalContainer {
        max-width: 70vw;
    }
}
