#correct_code {
    float: right;
    min-width: 35vw;
    min-height: 90vh;
    display: none;
}

#incorrect_code {
    float: left;
    min-width: 50vw;
    min-height: 90vh;
    display: none;
    font-size: 0.75rem;
}

#solutionButton {
    display: none;
}
